
<!--
<div class="row">
	<h4>
		HI I M THE FOOTER
	</h4>
</div>
-->

<style type="text/css">
#social-links {
	width: 34.188%;
}

#social-links {
	border-left: 1px solid #3D4042;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	width: 34.0426%;
}

#social-links li {
    float: left;
    list-style: none outside none;
    width: 20%;
}


#social-links a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #3D4042 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
    color: #494C4F;
    display: block;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: all 0.3s ease-out 0s;
}
.fa-facebook:before {
    /*
    content: "";
    */
    content: "F";
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}


</style>

<div id="footer">
	<div class="container">
		<p class="text-muted credit">Example courtesy <a href="/#">Ashish</a>.</p>
	</div>
	
	<div class="span4" id="social-links">
		<ul class="clearfix">
			<li class="ico-facebook"><a title="Like Ihatetomatoes on Facebook" target="_blank" href="https://www.facebook.com/ihatetomatoesblog"><span><i class="fa fa-facebook"></i></span></a></li>
			<li class="ico-twitter"><a title="Follow Ihatetomatoes on Twitter" target="_blank" href="https://twitter.com/ihatetomatoes"><span><i class="fa fa-twitter"></i></span></a></li>
			<li class="ico-googlep"><a title="Follow Ihatetomatoes on Google+" target="_blank" href="https://plus.google.com/u/0/109859280204979591787/about"><span><i class="fa fa-google-plus"></i></span></a></li>
							<li class="ico-youtube"><a title="Ihatetomatoes on YouTube" target="_blank" href="https://www.youtube.com/channel/UC7O6CntQoAI-wYyJxYiqNUg?sub_confirmation=1"><span><i class="fa fa-youtube"></i></span></a></li>
			<li class="ico-rss">
				<a title="Subscribe via RSS" target="_blank" href="https://ihatetomatoes.net/feed/">
					<span>
						<i class="fa fa-rss"></i>
					</span>
				</a>
			</li>
			
		</ul>
	</div>
	
</div>
