{% extends "q_a_bbase.html" %}

{% block content %}
	
	<!-- .row starts -->
	<div class="content">
		<!-- .col starts -->
		<div class="col-lg-12">
			<!-- .start-content starts -->
			<div class="start-content">
				<div class="post-title">
					<h4>Votes: ({{post.vote_count}})</h4>
					<h3>Q: {{ post.title }}</h3>
				</div>
				<div class="post-content">
					<b>
						{{ post.content|striptags }} 
					</b>
				</div>
				
				<div class="btn-follow-answer">
					<!-- if parent_id is none AND if already not followed -->
					<!-- 
					{# {% if follow.follow != 1 %} #}
					<span class="btn-post-follow">
						<a href="{# {% url q_a.views.follow post.pk 1 'P' %} #}?from={{fromUrl|urlencode}}" value=1>Follow Question</a>
					</span>
					{# {% elif follow.follow == 1 %} #}
					<span class="btn-post-unfollow">
						<a href="{# {% url q_a.views.follow post.pk -1 'P' %} #}?from={{fromUrl|urlencode}}" value=1>Unfollow Question</a>
					</span>
					{# {% endif %} #}
					-->
					
					<span class ="btn-post-answer">
						<a href="{% url q_a.views.show_reply_form post.pk %}?from={{fromUrl|urlencode}}">
							Answer
						</a>
					</span>
				</div>
				
				<div class="well">
					{{replies.count}} Answers
				</div>
				
				
				<!-- Replies start -->
				<div class="post-answers">
					<!-- Posts -->
						{% for rep in replies %}
						<div class="each-posts well">
							
							<div class="row">
								<!-- .col-lg-1 -->
								<div class="col-lg-1 well">
									<!-- Votes -->
									<div class="votes">
										{% if rep.has_voted != 1 %}
											<div class="vote-up">
												<a href="{% url q_a.views.vote rep.pk 1 %}?from={{fromUrl|urlencode}}" title="Vote Up" value=1>
													<span class="glyphicon glyphicon-hand-up"></span>
												</a>
											</div>
										{% endif %}
										
										<div class="vote-amt" title="{{post.vote_set.all.count}} votes">
												Count: {{rep.vote_set.all.count}}
										</div>
										
										{% if rep.has_voted != -1 %}
											<div class="vote-down">
												<a href="{% url q_a.views.vote rep.pk -1 %}?from={{fromUrl|urlencode}}" value=-1 title="Vote down">
													<span class="glyphicon glyphicon-hand-down"></span>
												</a>
											</div>
										{% endif %}
										
									</div>
									<!-- Votes- -->
								</div>
								<!-- .col-lg-1- -->
								
								<div class="col-lg-11">
									<div class="post-title">
										<a href="{% url q_a.views.view_post_id rep.id rep.slug %}">Title: {{ rep.title }}</a>
									</div>
									
									<!-- Post Body -->
									<div class="post-body">
										{{rep.content|striptags|linebreaks}}
									</div>
									<!-- Post Body- -->
									
									<div class="row">
										<div class="col-lg-2">
											<!-- Comments Buttons -->
											<div class ="btn-post-answer-reply">
												<span>
													<a href="{% url q_a.views.show_reply_form rep.pk %}?from={{fromUrl|urlencode}}">
														Reply
													</a>
												</span>
												<!--  Share commented out FTM -->
												<!-- 
												<span>
													<a href="{# url q_a.views.share rep.pk 1 #}">
														Share
													</a>
												</span>
												-->
												
											</div>
											<!-- Comments Buttons/ -->
										</div>
										
										<div class="col-lg-4">
											<!-- Post Date -->
											<div>
												<small class="post-by-user">
													<a href="{% url users.views.view_user_profile rep.user.pk %}">{{rep.user.email}}</a>
												</small>
												<small class="post-time">{{ rep.date }}</small>
											</div>
											<!-- Post Date- -->
										</div>
										
									</div>
									
									
									{% if rep.post_set.all %}
										<ul class="post-replies">
											{% for i in rep.post_set.all %}
												<li>
													<span>
														<span>
															{{ i.id }}: {{i.content|striptags }}
														</span>
														<span>
															<small>
																<small>
																	<a href="{% url users.views.view_user_profile rep.user.pk %}">{{i.user.email}}</a>
																</small>
																<small>
																	{{i.date}}
																</small>
															</small>
														</span>
													</span>
													
												</li>
											{% endfor %}
										</ul>
									{% endif %}
									
								</div>
								
							</div>
							
						</div>
						
						{% endfor %}
				
				</div>
				<!-- Replies end -->
				
			</div>
			<!-- .start-content ends -->
		
		</div>
		<!-- .col ends -->
		
	</div>
	<!-- .row ends -->
	
{% endblock %}

