<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
		<head>
			<title>
				{% block title %}QnA{% endblock %}
			</title>
			
			<!--
			For including from applications static/ folder, With {{STATIC_URL}}
			not base static folder
			-->
			<!--
			<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
			-->
			<!--
			<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap_cosmo.css">
			-->
			<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/fa/fa.css">

			<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/all.css">

			
			<!--
			For including from project (Base) static/ folder, Without {{STATIC_URL}}
			-->
			<!--
			<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
			<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
			-->
			
			<!-- show block extrahead here, which will come from other templates -->
			{# include "q_a_tinymcejs.html" #}
			<!--/ -->
			
		</head>
	
	<body ng-app="MyApp">

			<!-- .container starts -->
			<div class="container">
				
				<div id="sidebar">
					{% block sidebar %}
					{% endblock %}
				</div>

				<div id="main">
					
					<!-- Navbar  -->
					<div class="row">
						<div class="col-lg-12">
							{% include "q_a_global_nav_new2.html" %}
						</div>
					</div>
					<!-- Navbar-  -->
					
					<div class="row">
						<div class="col-lg-12">
							<!-- show block content here, which will come from other templates -->
							{% block content %}
							{% endblock %}
							<!-- /-->
						</div>
					</div>
					
					<!-- Footer starts -->
					<div class="row">
						<div class="col-lg-12">
							<!-- FOOTER Template -->
							{% include "q_a_footer.html" %}
							<!-- FOOTER Template / -->						
						</div>
					</div>
					<!-- Footer ends/ -->

					<!-- q_a_friends_modal starts -->
					<div class="row">
						<div class="col-lg-12">
							<!-- friends_modal Template -->
							{% include "q_a_friends_modal.html" %}
							<!-- friends_modal Template / -->						
						</div>
					</div>
					<!-- q_a_friends_modal ends/ -->


				</div>
				<!-- .main ends/ -->


			</div>
			<!-- .container ends -->
			

		<!-- including from Static folder of Application, with {{STATIC_URL}} -->

		<!--
		<script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery-1.9.1.min.js"></script>
		-->
		<!-- including from Static folder of Base(Project/Root Static folder), withOUT {{STATIC_URL}} -->
		<script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery-1.9.1.min.js"></script>
		
		<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>


		<!-- Angular Files -->
<!-- 
		<script type="text/javascript" src="{{STATIC_URL}}js/lib/angular.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/ng_files/app.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/ng_files/MyCtrl.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/ng_files/AjaxCtrl.js"></script>
-->		

		<!-- Angular Files/ -->


		<!-- including from Static folder of Application -->
		<script type="text/javascript" src="{{STATIC_URL}}js/javascript.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/all.js"></script>
		
		<!-- show block extrahead here, which will come from other templates -->
		{% include "q_a_tinymcejs.html" %}
		<!--/ -->
		
	</body>
</html>


