{% extends "q_a_bbase.html" %}

<!-- Post form -->
{% block content %}
	
	<div id="addc">
		Add a comment
	</div>
	
	<!-- if p is present, then it is getting a post_id, which means this is a comment, so we will add_comment -->
	{% if pk %}
		<form action="{% url q_a.views.add_reply pk %}?from={{fromUrl|urlencode}}" method="post">
	{% else %}
		<form action="{% url q_a.views.add_post %}" method="post">
	{% endif %}
			{% csrf_token %}
			<div id="cform">
				{{form.as_p}}
			</div>
			<div id="submit">
				<input type="submit" value="Submit">
			</div>
		</form>
{% endblock %}
