
<!--
<div class="row">
	<h4>
		HI I M THE FOOTER
	</h4>
</div>
-->

<!-- 
<div id="footer">
	<div class="container">
		<p class="text-muted credit">Example courtesy <a href="/#">Ashish</a>.</p>
	</div>
</div>
	
 -->

<div class="margin-top-7">
	<footer>
		<div class="navbar navbar-default navbar-static-bottom">
			<div class="container">
				<ul class="nav navbar-nav">
					<li>
						<a href="{% url about %}">
							About
						</a>
					</li>
					<li>
						<a href="{% url team %}">
							Team
						</a>
					</li>
					<li>
						<a href="{% url contact %}">
							Contact
						</a>
					</li>
					<li>
						<a href="{% url terms %}">
							Terms
						</a>
					</li>
					<li>
						<a href="{% url privacypolicy %}">
							Privacy Policy
						</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>

</div>

