{% block nav-global %}
<!-- MENU -->
	<!-- menu navbar -->
<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="{% url stpros.views.list_all %}" class="navbar-brand">QnA</a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-left">
			<li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#" title="Share a life event/experience with us (and how you overcame it).">
					Experience
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="{% url q_a.views.view_all_post %}" title="Share a life event/experience with us (and how you overcame it).">
							<i class="glyphicon glyphicon-list"></i>
							List
						</a>
					</li>
					<li>
						<a href="{% url q_a.views.add_post %}" title="Share a life event/experience with us (and how you overcame it).">
							<i class="glyphicon glyphicon-edit"></i>
							Post and share an event
						</a>
					</li>
				</ul>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-left">
			<li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#" title="Path to problem solve: How i solved a problem, listing down the steps to the solution. Compare solutions. Let us know if you know any other kind of solution. (What you did? &amp; Why you did what you did?)">
					Problem solve
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="{% url stpros.views.list_all %}" title="Path to problem solve: Main list page of all the problems posted.">
							<i class="glyphicon glyphicon-list"></i>
							List
						</a>
					</li>
					<li>
						<a href="{% url stpros.views.create %}" title="Path to problem solve: Add a problem. How i solved a problem, listing down the steps to the solution.">
							<i class="glyphicon glyphicon-edit"></i>
							Add
						</a>
					</li>
				</ul>
			</li>
		</ul>
		
		<form class="navbar-form navbar-right" role="search" action="{% url search.views.main %}">
			<div class="form-group">
				<div class="input-group">
					<input id="nav-search" title="Search..." type="text" class="form-control pull-right" name="q" placeholder="Search...">
					<span class="input-group-btn width-auto">
						<button type="submit" class="btn btn-default">
							<span id="nav-sub-btn-span" class="glyphicon glyphicon-search"></span>
						</button>
					</span>
					</div>
			</div>
		</form>

		{% if not user.is_authenticated %}
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="{% url login %}" title="Login">
				<i class="glyphicon glyphicon-log-in"></i>
					Login
				</a>
			</li>
			<li>
				<a href="{% url register %}" title="Register">
					Register
				</a>
			</li>
		</ul>
		{% endif %}

		{% if user.is_authenticated %}
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a data-toggle="dropdown" href="/users/{{user.id}}" class="navbar-brand dropdown-toggle">
					{% if user.is_authenticated %} 
						{% if user.userprofile.avatar %}
							<img class="img-rounded img-responsive header-user-img" alt="{{user}}" title="{{user}}" src="/{{user.userprofile.avatar}}">
						{% else %}
							<img class="img-rounded img-responsive header-user-img" alt="{{user}}" title="{{user}}" src="/uploads/avatar/random.jpg">
						{% endif %}
					{% else %}
						{{user}} 
					{% endif %}
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li role="presentation" class="dropdown-header">Profile</li>
					<li>
						<a href="{% url view_user_profile request.user.id %}" title="View Profile">
							<i class="glyphicon glyphicon-user"></i>
							View Profile
						</a>
					</li>
					<li>
						<a href="{% url edit_user_profile request.user.id %}" title="Edit Profile">
							<i class="glyphicon glyphicon-edit"></i>
							Edit Profile
						</a>
					</li>
					<li role="presentation" class="divider"></li>
<!--
					<li>
						<a href="/followers/{{request.user.id}}" title="Followers">
							Followers
						</a>
					</li>
					<li>
						<a href="/following/{{request.user.id}}" title="Following">
							Following
						</a>
					</li>
 -->
					<li>
						<a href="/logout/" title="Logout">
							<i class="glyphicon glyphicon-log-out"></i>
							Logout
						</a>
					</li>
				</ul>
			</li>
			{% if user.is_superuser %}
			<li>
				<a href="{% url admin:index %}" title="Admin">
					Admin
				</a> 
			</li>
			{% endif %}
		</ul>
		{% endif %}

	</div><!-- /.navbar-collapse -->
</nav>


<!--
	<div class="navbar navbar-inverse">

		<div class="container">
			<div class="navbar-header">
				<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="{% url stpros.views.list_all %}" class="navbar-brand">QnA</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					{% if user.is_authenticated %}
						{% if user.is_superuser %}
						<li>
							<a href="{% url admin:index %}">
								Admin
							</a> 
						</li>
						{% endif %}
						<li>
							<a href="{% url q_a.views.add_post %}" title="Share a life event/experience with us (and how you overcame it).">
								Experience
							</a>
						</li>
						<li>
							<a href="{% url stpros.views.create %}" title="Path to problem solve: How i solved a problem, listing down the steps to the solution. Compare solutions. Let us know if you know any other kind of solution.">
								Problem solve
							</a>
						</li>
						<li class="dropdown">
							<a data-toggle="dropdown" href="/users/{{user.id}}" class="navbar-brand dropdown-toggle">
								{% if user.is_authenticated %} {{user}} {% else %} {{user}} {% endif %}
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/users/{{request.user.id}}">My Profile</a></li>
								<li><a href="/followers/{{request.user.id}}">Followers</a></li>
								<li><a href="/following/{{request.user.id}}">Following</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Dropdown header</li>
								<li><a href="/logout/">Logout</a></li>
							</ul>
						</li>
					{% endif %}
				</ul>

				<form class="navbar-form navbar-right" role="search" action="/search" method="post">
					<div class="form-group">
						<input id="nav-search" name="q" type="text" class="form-control pull-right" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>

				{% if not user.is_authenticated %}
				<ul class="nav navbar-nav navbar-right">
    		        <li><a href="{% url login %}"><span class="glyphicon glyphicon-log-in">&nbsp;Login</span></a></li>
					<li><a href="{% url register %}"><span class="glyphicon glyphicon-log-in">&nbsp;Register</span></a></li>
				</ul>
		        {% endif %}

	        </div>
	    </div>
	</div>
-->

{% endblock %}

