
{% block extrahead %}
	{% url 'admin:jsi18n' as jsi18nurl %}
	<script type="text/javascript" src='{{ jsi18nurl|default:"../../../jsi18n/" }}'></script>
	
	<script type="text/javascript" src="/tiny_mce/tinymce.min.js"></script>
	<script type="text/javascript">
		tinyMCE.init({
			mode: "textareas",
			theme: "modern"
		});
	</script>
	
{% endblock %}


<div id="addc">
	Add a comment
</div>

<!-- Post form -->
{% block fields %}
	<!-- if p is present, then it is getting a post_id, which means this is a comment, so we will add_comment -->
	{% if pk %}
		<form action="{% url q_a.views.add_comment pk %}" method="post">
	{% else %}
		<form action="{% url q_a.views.add_post %}" method="post">
	{% endif %}
			{% csrf_token %}
			<div id="cform">
					{% if form.title %}
						Title: {{ form.title|linebreaks }}
					{% endif %}
					<p>
					{% if form.content %}
						Content: {{ form.content|linebreaks }}
					{% endif %}
					</p>
			</div>
			<div id="submit">
				<input type="submit" value="Submit">
			</div>
		</form>
{% endblock %}


