{% extends "q_a_bbase.html" %}
{% load bbcode %}

{% block content %}


	<div class="main">
		<div class="col-lg-12">
			<div class="start-user-details">

				<ul class="nav nav-tabs" id="user-details-tab">
					<li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
					<li><a href="#wall" data-toggle="tab">Wall</a></li>
					<li><a href="#questions" data-toggle="tab">Questions</a></li>
					<li><a href="#answers" data-toggle="tab">Answers</a></li>					
				</ul>


				<div class="tab-content">

					<div class="tab-pane margin-top-7 active" id="profile">

							<!-- user-details -->
							<div>
								Email: 
								<a href="mailto:{{user.email}}">{{user.email}}</a>
							</div>
							<div>
								First Name: 
								{{user.first_name}}
							</div>
							<div>
								Last Name: 
								{{user.last_name}}
							</div>
							<div>
								Avatar: 
								<a href="/{{profile.avatar}}">
									<img class="img-rounded img-responsive header-user-img" alt="{{user}}" title="{{user}}" src="/{{profile.avatar}}">
								</a>
							</div>
							<div>
								Biography: 
								{{profile.biography}}
							</div>

					</div>


					<div class="tab-pane margin-top-7" id="wall">Wall

					</div>

					<div class="tab-pane margin-top-7" id="questions">
						{%for q in user_pts_questions %}
						<div>
							<p>
								<a href="{% url stpros.views.read q.pk %}">{{q.problem}}</a>
							</p>
							<p>
								{% bbcode q.answer %}
							</p>
						</div>
						{%endfor%}
					</div>

					<div class="tab-pane margin-top-7" id="answers">
						{%for q in user_pts_answers %}
						<div>
							<p>
								<a href="{% url stpros.views.read q.parent_id.pk %}">{{q.parent_id.problem}}</a>
							</p>
							<p>
								{% bbcode q.answer %}
							</p>
						</div>
						{%endfor%}
					</div>

				</div>
				
			</div>
		</div>
	</div>

{% endblock %}

