# Folders to ignore
housex/
homex/
assignment/
django-blog-zinnia-0.14.1/

#static_root/*.py
#static_root/*.pyc
#static_root/*
#!static_root

*.pyc

# Files to ignore from here
#now
q_a/templates/q_a_test.html

# FTM, Undo these later
static/js/fb_sdk.js

