{# load parse_content_bbcode #}
{% load bbcode %}
	
	{% if somelist %}
	{% for post in somelist %}
		<div class="each-posts">
			<div class="row">
				<div class="col-lg-1">
					<div class="row">
						<div class="col-lg-12">
							<div class="c-text-align-center">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-11">					
					<div class="post-title">
						<div>
							User: {{post.guser.name}}
						</div>
						<div>
							Date: {{ post.date }}
						</div>
						<div>
							Hours: {{post.hours}}
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-lg-2">
							<!-- Comments -->
							<div class ="btn-post-answer-reply commentlink">

								<small>
									<span>
										<a href="{% url googleapp.views.edit post.pk %}" class="c-color-777 j-ttip" data-toggle="tooltip" data-placement="left" title="Edit">
											Edit
										</a>
									</span>
								</small>
								
							</div>
							<!-- Comments/ -->
						</div>


						<div class="col-lg-4">
							<!-- Time -->
							<div class="post-time">
								<small>
									{{ post.date }}
								</small>
							</div>
							<!-- Time- -->
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	{%else%}
	<div>
		Nothing to show here at the moment.
	</div>
	{%endif%}

