{# load parse_content_bbcode #}
{% load bbcode %}
	
	{% for post in somelist %}
		<div class="each-posts">
			<div class="row">
				<div class="col-lg-1">
					<div class="row">
						<div class="col-lg-12">
							<div class="c-text-align-center">
<!-- 								{# if post.has_voted != 1 #}
								<div class="vote-up">
									<a href="{% url stpros.views.vote post.pk 1 %}?from={{fromUrl|urlencode}}" title="Vote up" value=1><span class="glyphicon glyphicon-thumbs-up"></span></a>
								</div>
								{# endif #}
								<div class="vote-amt">
									{#post.vote_count#}
								</div>
								{# if post.has_voted != -1 #}
								<div class="vote-down">
									<a href="{% url stpros.views.vote post.pk -1 %}?from={{fromUrl|urlencode}}" title="Vote down" value=-1>
										<span class="glyphicon glyphicon-thumbs-down"></span>
									</a>
								</div>
								{# endif #}
 -->							</div>
						</div>
					</div>
<!-- 					<div class="row">
						<div class="col-lg-12">
							<div class="c-text-align-center margin-top-7">
								<a class="j-ttip c-color-777" title="Throw this: Forward this to a friend who you think might be able to contribute to this topic. (Your friend will receive this as a catch)." data-placement="bottom" data-toggle="modal" href="#fwersList">
									<span class="glyphicon glyphicon-share-alt"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-11">					
					<div class="post-title">
						<div>
							User: {{post.guser.name}}
						</div>
						<div>
							Date: {{ post.date }}
						</div>
						<div>
							Hours: {{post.hours}}
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-lg-2">
							<!-- Comments -->
							<div class ="btn-post-answer-reply commentlink">

								<small>
									<span>
										<a href="{% url googleapp.views.edit post.pk %}" class="c-color-777 j-ttip" data-toggle="tooltip" data-placement="left" title="Edit">
											Edit
										</a>
									</span>
								</small>
								
							</div>
							<!-- Comments/ -->
						</div>


						<div class="col-lg-4">
							<!-- Time -->
							<div class="post-time">
								<small>
									{{ post.date }}
								</small>
							</div>
							<!-- Time- -->
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

