
.posts {
	border: 1px solid red;
}


.body {
/*
	border: 1px solid black;
*/
}

.border-1-black {
/*
	border: 1px solid black;
*/
}


/* Posts */

.each-posts {
	border-bottom: 1px solid lightgrey;
}


/* Posts- */


/* Votes */

.votes {
	text-align: center;
}

.vote-up>a:hover{
	color: green;
}

.vote-down>a:hover{
	color: red;
}

/* Votes- */


/* Form */

.form-signin {
	margin: 0 auto;
	max-width: 330px;
	padding: 15px;
}


/* anchor */
a:hover, a:focus {
	text-decoration: none;
}


