{% extends "accounts_bbase.html" %}
{% load url from future %}


<!-- Registeration --->
{% block title %}Create an account{% endblock %}

{% block content %}
	<h1>Create an account</h1>

	<form action="" method="post">
		{% csrf_token %}
		{# form.as_p #}
		
		
		<p>
			<label for="id_username">Email:</label>
<!--
			<input id="id_username" type="text" name="username" maxlength="30"/>
-->
			{{ form.username }}
		</p>
		<p>
			<label for="id_username">Password:</label>
			{{ form.password1 }}
		</p>
		<p>
			<label for="id_username">Confirm password:</label>
			{{ form.password2 }}
		</p>
		
		
		
		<input type="submit" value="Create the account">
	</form>



{% endblock %}


<!--- Registeration/ --->




