{% extends "q_a_bbase.html" %}

{% block content %}
	<div>
		<h3>
			Team
		</h3>
		<div>
			<p>
				<b>
					So we also have a team,
					<br>
					which virtually does absolutely nothing
					<br>
					apart from coming to office everyday on time,
					<br>
					and relaxing and chatting &amp; gossiping,
					<br>
					and social networking.
					<br>
					Our office is less of an office
					<br>
					and more of a social networking event.
					<br>
				</b>
			</p>
		</div>
	</div>

{% endblock %}

