{% extends "q_a_bbase.html" %}

{% block content %}
	<div class="main">
		<div class="col-lg-12">
			<div class="start-posts">
				<!-- Posts -->
					{% for post in posts.object_list %}
					<div class="each-posts well">
						
						<div class="row">
							
							<div class="col-lg-1 well">
									<div class="votes">
									
										{% if post.has_voted != 1 %}
										<div class="vote-up">
											<a href="{% url q_a.views.vote post.pk 1 %}?from={{fromUrl|urlencode}}" title="Vote Up" value=1><span class="glyphicon glyphicon-hand-up"></span></a>
										</div>
										{% endif %}
										
										<div class="vote-amt">
												Random THIS Check: 2
										</div>
										
										{% if post.has_voted != -1 %}
										<div class="vote-down">
											<a href="{% url q_a.views.vote post.pk -1 %}?from={{fromUrl|urlencode}}" title="Vote down" value=-1><span class="glyphicon glyphicon-hand-down"></span></a>
										</div>
										{% endif %}
										
									</div>
							</div>
									
							
							<div class="col-lg-11">
							
								<div class="post-title">
									<a href="{% url q_a.views.view_post_id post.id %}">{{ post.title }}</a>
								</div>
								
								<div class="body">
									<small>{{user}}</small>
									{{post.content|striptags|linebreaks}}
									
				<!--
									Number of Shares
									
									SHARED:
									{{ post.has_shared }}
				-->
								</div>
								
								<div class="row">
									
									<div class="col-lg-2">
										<!-- Comments -->
										<div class ="btn-post-answer-reply commentlink">
											<span>
												<a href="{% url q_a.views.show_reply_form post.pk %}?from={{fromUrl|urlencode}}">
													Reply
												</a>
											</span>
											
											{% if post.has_shared != 1 %}
					<!--
											<span>
											<a href="{% url q_a.views.share post.pk 1 %}?from={{fromUrl|urlencode}}">Share</a>
											</span>
					-->
											{% elif post.has_shared != -1 %}
					<!--
											<span>
												<a href="{% url q_a.views.share post.pk -1 %}?from={{fromUrl|urlencode}}" value=-1>UnShare</a>
											</span>
					-->
											{% endif %}
											
										</div>
										<!-- Comments/ -->
									</div>
									
									
									<div class="col-lg-4">
										<!-- Time -->
										<div class="post-time">
											<small>
												{{ post.date }}
											</small>
										</div>
										<!-- Time- -->
									</div>
								
								</div>
								
								<!-- 
								Replies start
								Commenting right now,
								can UnComment it later.
								-->
								<!--
								{% if post.post_set.all %}
									<ul class="replies">
										{% for i in post.post_set.all %}
												<li>
													{{i.content|striptags }}
												</li>
										{% endfor %}
									</ul>
								{% endif %}
								-->
								<!-- Replies ends -->
							
							</div>
							
							
						</div>
						
					</div>
					{% endfor %}
				
				<!-- Next/Prev page links -->
				{% if posts and posts.paginator.num_pages > 1  %}
				<div class="pagination" style="margin-top: 20px; margin-list: -20px;">
					<span class="step-links">
						{% if posts.has_previous %}
							<a href="?page={{posts.previous_page_number}}">
								newer entries &lt;&lt;
							</a>
						{% endif %}
						<span class="current">
							&nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
						</span>
						{% if posts.has_next %}
							<a href="?page={{posts.next_page_number}}">
								&gt;&gt; older entries
							</a>
						{% endif %}
					</span>
				</div>
				{% endif %}
		
			</div>
		</div>
	</div>
{% endblock %}

